<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="stokTakipEntities" connectionString="metadata=res://*/dbStokTakip.csdl|res://*/dbStokTakip.ssdl|res://*/dbStokTakip.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=stokTakip;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>