<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="stokTakipEntities" connectionString="metadata=res://*/dbStokTakip.csdl|res://*/dbStokTakip.ssdl|res://*/dbStokTakip.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=stokTakip;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="stokTakipEntities1" connectionString="metadata=res://*/StokTakip.csdl|res://*/StokTakip.ssdl|res://*/StokTakip.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=stokTakip;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.10.4.0" newVersion="6.10.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>